.container-inline.paint-paint-elements .form-item {
    margin: 0 3px;
}

.container-inline.paint-paint-elements label {
    display: block;
}

.app {
    width: 100%;
    margin: 0 auto;
}

.paint {
    padding: 0 10px;
    margin: 0 auto 10px auto;
    list-style: none;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 2px;

    display: flex;
    justify-content: flex-end;
}

.paint > li {
    width: 40px;
    height: 100%;
    padding: 10px;
}

.paint > li.left {
    margin-right: auto;
}

.paint > li.paint__btn > label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.paint > li.paint__btn > label::before,
.paint > li.paint__btn > label::after {
    content: "";
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.paint > li.paint__btn-save > label::before {
    width: 18px;
    height: 18px;
    border: 3px solid #808080;
    border-top-width: 9px;
    border-radius: 1px;
    border-bottom-width: 1px;
}

.paint > li.paint__btn-save > label::after {
    width: 8px;
    height: 5px;
    background-color: #fff;
    top: -11px;
    right: -4px;
}

.paint > li.paint__btn-eraser > label::before {
    width: 18px;
    height: 9px;

    border: 1px solid #808080;
    border-right-width: 12px;
    border-radius: 1px;

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.paint > li.paint__btn > label:active {
    border-color: transparent;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);

    -webkit-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
}

.paint > li > input[type=radio] + label {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;

    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.paint > li > input[type=radio] {
    position: absolute;
    opacity: 0;
    height: 20px;
    width: 20px;
}

.paint > li > input[type=radio]:checked + label {
    position: relative;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
}

.paint > li > input[type=radio] + label::before {
    content: "";
    position: absolute;
    top: -99999999px;
}

.paint > li > input[type=radio]:checked + label::before {
    display: block;
    position: absolute;
    width: 14px;
    height: 7px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.paint > li.paint__btn-color--blue > label {
    background-color: #00bfff;
}

.paint > li.paint__btn-color--red > label {
    background-color: #ff1556;
}

.paint > li.paint__btn-color--green > label {
    background-color: #39bd68;
}

.paint > li.paint__btn-color--purple > label {
    background-color: #c000ff;
}

.paint > li.paint__btn-color--yellow > label {
    background-color: #ffe000;
}

.paint > li.paint__btn-color--black > label {
    background-color: #000000;
}

.paint > li.paint__btn-color--colorful > label {
    background-color: #000000;
    background: -moz-linear-gradient(-45deg, #e56414 22%, #39bd68 76%);
    background: -webkit-linear-gradient(-45deg, #e56414 22%, #39bd68 76%);
    background: linear-gradient(135deg, #e56414 22%, #39bd68 76%);
}

#workspace, .workspace {
    background-color: #fff;
    display: block;
    margin: auto;
    cursor: none;
    border: solid 1px #ddd;
    height: auto;
}

/*CSS for TOUCH screen*/
.touch .paint {
    height: 40px;
}

.touch .paint > li {
    width: 40px;
}

.touch .paint > li.paint__btn-save > label::before {
    width: 25px;
    height: 25px;
    border: 4px solid #808080;
    border-top-width: 12px;
    border-bottom-width: 1px;
}

.touch .paint > li.paint__btn-save > label::after {
    width: 17px;
    height: 7px;
    top: -16px;
    right: -5px;
}

.touch .paint > li.paint__btn-eraser > label::before {
    width: 30px;
    height: 15px;
    border-right-width: 24px;
}

.touch .paint > li > input[type=radio]:checked + label::before {
    width: 30px;
    height: 15px;
    border-left: 8px solid #fff;
    border-bottom: 8px solid #fff;
    top: 20px;
}

.touch .paint > li.paint__btn > label:active,
.touch .paint > li > input[type=radio]:checked + label {
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.6);
}