<div class="app" id="app_{{ canvasDetails.id }}">
  <ul class="paint">
    <li class="paint__btn paint__btn-save" title="Save image">
      <label></label>
    </li>
    <li class="paint__btn paint__btn-eraser left" title="Clear the board">
      <label></label>
    </li>

    <li class="paint__btn-color paint__btn-color--blue" title="Blue brush">
      <input class="paint__radio-brush" type="radio" name="paint-brush-color" value="#00bfff">
      <label for="brush-blue"></label>
    </li>
    <li class="paint__btn-color paint__btn-color--green" title="Green brush">
      <input class="paint__radio-brush" type="radio" name="paint-brush-color" value="#39bd68">
      <label for="brush-green"></label>
    </li>
    <li class="paint__btn-color paint__btn-color--red" title="Red brush">
      <input class="paint__radio-brush" type="radio" name="paint-brush-color" value="#ff1556">
      <label for="brush-red"></label>
    </li>
    <li class="paint__btn-color paint__btn-color--purple" title="Purple brush">
      <input class="paint__radio-brush" type="radio" name="paint-brush-color" value="#c000ff">
      <label for="brush-purple"></label>
    </li>
    <li class="paint__btn-color paint__btn-color--yellow" title="Yellow brush">
      <input class="paint__radio-brush" type="radio" name="paint-brush-color" value="#ffe000">
      <label for="brush-yellow"></label>
    </li>
    <li class="paint__btn-color paint__btn-color--black" title="Black brush">
      <input class="paint__radio-brush" type="radio" name="paint-brush-color" value="#000000" checked="checked">
      <label for="brush-black"></label>
    </li>
  </ul>
  <canvas id="workspace_{{ canvasDetails.id }}" class="workspace" width="1240" height="620"
          data-brush-size="{{ canvasDetails.brush_size }}"
          data-paint-image="{{ canvasDetails.imageDetails.imageUrl }}"
          data-paint-image-width="{{ canvasDetails.imageDetails.imageWidth }}"
          data-paint-image-height="{{ canvasDetails.imageDetails.imageHeight }}"
  ></canvas>
</div>